extends layout

block content
	h1= title
	p Welcome to #{title}
	br
	a(href='/auth/logout') Logout...
	form(action = "/auth/local" method="post")
		label email
			input(type ='text' name='username')
		label password
			input(type ='text' name='password')
		input(type="submit" value="Local Login" )
	br
	form(action = "/api/register" method="post")
		label username
			input(type ='text' name='username')
		label email
			input(type ='text' name='email')
		label password
			input(type ='text' name='password')
		input(type="submit" value="Create New Local User" )
	br
	a(href="/auth/insta") auth with Instagram
	br
	a(href="/auth/gl") auth with Google
	br
	a(href="/auth/linkid") auth with Linkedin
	br
	a(href="/auth/fb") auth with Facebook
	br
	a(href="/auth/vk") auth with VK
