extends layout

block content
	h1= title
	p Welcome to #{title}
	br
	a(href='/auth/logout') Logout...
	form(action = "/auth/local" method="post")
		input(type ='text' name='username')
		input(type ='text' name='password')
		input(type="submit" value="Login" )
	br
	form(action = "/api/register" method="post")
		input(type ='text' name='username')
		input(type ='text' name='password')
		input(type="submit" value="Create New User" )
	br
	a(href="/auth/insta") auth with Instagram
	br
	a(href="/auth/gl") auth with Google
	br
	a(href="/auth/linkid") auth with Linkedin
	br
	a(href="/auth/fb") Login with Facebook
	br
	a(href="/auth/vk") auth with VK
