extends layout

block content
    h1= title
    form(action='/rest_users/login' method='POST')
        input.username(type='text' name='username' placeholder='Name and surname')
        input.password(type='password' name='password' placeholder='Password')
        button.send(type='submit') Log In
    if logInWarn.length > 0
        div.warn= logInWarn
    div
        p or
    a(href='/rest_users/signup')
        button.signUp Sign Up
    div
        p or
    a(href='/rest_users/glAuth')
        button.google Log In with Google