extends layout

block content
    h1= message
    h2 Профиль пользователя
        p=  'id: ' + user._id
        p=  'name: ' + user.Name
        if user.Contacts
            p= 'contacts: ' + user.Contacts
        if user.Birthday
            p= 'age: ' + user.getAge()
    a(href='/rest_users/logout')
        button.logOut Log Out