@mixin debugdiv
{
//	 border: 1px gray dotted;
}

.title {
	text-align: center;
}

.body
	{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		min-height: 200px;
	}


.maincolumn {
	@include debugdiv;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.middlecolumn {
	@include debugdiv;
	width: 1px;
	background-color: #CCCCCC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.middlecolumntext {
		padding: 1em 0;
		background-color: #FFFFFF;
	}
}

@media screen and (max-width: 699px) {
	.body
	{
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: stretch;
		min-height: 380px;
	}
	.maincolumn {
	@include debugdiv;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}
.middlecolumn {
	width: 100%;
	margin: 10px 0;
	height: 1px;
	background-color: #CCCCCC;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.middlecolumntext {
		padding: 0 1em;
		background-color: #FFFFFF;
	}
}

}
