@import 'app/common.scss';

@mixin debugdiv
{
//	 border: 1px gray dotted;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.dialog {
	position: absolute;
	top: 20%;
	left: 20%;
	right: 20%;
	bottom: 20%;
	border: 1px solid #ccc;
	background: #FFFFFF;
	border-radius: 1rem;
	padding: 2rem;
	outline: none;
	min-height: 15rem;
}

.body {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		min-height: 200px;
		width: 100%;


	.maincolumn {
		@include debugdiv;
		font-size: 1.5rem;
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		input + span:after {
			position:absolute;
			top: 1,5rem;
			font-size: 1rem;
			color: $colorError;
			display: block;
			content: attr(data-error);
		}

		button{
			height: 2.5rem;
			border-radius: 0.1rem;
			&:hover {
				cursor: pointer;
			}
		}
		.fb {
			color: #FFFFFF;
			background-color: $colorFacebook;
			border: 1px solid darken($colorFacebook,10);
		}
		.gl {
			color: #FFFFFF;
			background-color: $colorGoogle;
			border: 1px solid darken($colorGoogle,10);
		}
		.in {
			color: #FFFFFF;
			background-color: $colorLinkedin;
			border: 1px solid darken($colorLinkedin,10);
		}
		.ig{
			color: #000000;
			background-color: $colorInstagram;
			border: 1px solid darken($colorInstagram,10);
		}
	}
}

.middlecolumn {
	@include debugdiv;
	width: 1px;
	background-color: #CCCCCC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.middlecolumntext {
		padding: 1em 0;
		background-color: #FFFFFF;
	}
}
